.tables{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    flex-wrap: wrap;
}

.tables div{
    padding: 15px;
    border: 1px solid #1d232661;
    color: white;
    margin-bottom: 30px;
    transition-duration: .2s;
    text-align: center;
}
.tables div:hover{
    background-color:#2aadf4;
    cursor: pointer;
    border: none;
}
